body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt, .dl-horizontal dd {
    white-space: normal;
    font-size: 2rem;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*label {
    color: white;
    font-size : 1.7rem;
}*/

/*th{
    color:white;
    font-size: 1.7rem;
}*/

td{
    color:navy;
    background-color:white;
}

td a{
    color:navy !important;
    font-size:1rem;
}

.paginate_button{
    background-color:white;
}

#myTable_info{
    color:white;
}
#myTable_previous{
    background-color:white;
}

select {
    color:navy;
}

.dataTables_info{
    color:white !important;
}

.btn {
    border-radius: 25px;
}

* { font-family: 'Slabo 27px', cursive;
   
}

#lg1, #login, .font {
    font-family: 'Slabo 27px', cursive;
}

.navbar-fixed-top {
    height: 77px;
    padding-top:10px;
    padding-left:50px;
    padding-right:50px
}

.navbar-custom{
    padding-top:10px;
    
}

.navbar-custom-left{
    padding-left:150px;
}

.sidebar-custom {
    text-align:center;
}

.list-group-item {
   background-color:whitesmoke ;
    color:steelblue;
    margin-top: 0;
    border:1px solid steelblue;
}

a.list-group-item .list-group-item-heading.font , .list-group-item-text {
    color:steelblue;
}

.label-custom {
    padding: 15px;
}

.panel-primary{
    background-color: whitesmoke;
    color:steelblue;
    margin-top: 0;
    border:1px solid steelblue;

}

.jumbotron {
    background-color:whitesmoke;
    color: steelblue;
    border:1px solid steelblue;

}

.well{
    background-color:whitesmoke;
    color: steelblue;
    border:1px solid steelblue;
    margin-top:33px
}

.well h2, .well h3, .well h4, .font.font-color {
    color: steelblue;
}

div.well.wellStack{
    margin-top:3px;
    margin-bottom:3px;
    padding:3px;
}

#wellTitle{
    background-color:#fc7700;
    color:white;
    margin-top:0;
}
.body-position{
    margin-top:50px;
}



/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 50px 0 200px 20px;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .label-custom {
      font-size: 3rem;
  }

  
}





