body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

label {
    color: white;
    font-size : 1.7rem;
}

th{
    color:white;
    font-size: 1.7rem;
}

td{
    color:navy;
    background-color:white;
}

td a{
    color:navy !important;
    font-size:1rem;
}

.paginate_button{
    background-color:white;
}

#myTable_info{
    color:white;
}
#myTable_previous{
    background-color:white;
}

select {
    color:navy;
}

.dataTables_info{
    color:white !important;
}

.btn {
    border-radius: 25px;
}

* { font-family: 'Slabo 27px', cursive;
    font-size:107%
}

