@using BugTrackerPM.Models
@model TicketCommentViewModel

@{
    ViewBag.Title = "CreateTicketComment";
}

<img src="~/Content/Images/Mosquito.jpeg" style="float: right; width:250px; height: 175px; margin-bottom: 15px; margin-right: 50px; border-radius: 25px;" />
<div class="well col-md-8">
    <h2 class="font">Create Ticket Comment</h2>
    <h3 class="font">Project: @Model.ticket.Project.ProjectTitle</h3>
    <h3 class="font">Ticket: @Model.ticket.Description </h3>
</div>


<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <h3 class="font">Comment:</h3>
                    </div>
                    <div class="col-md-12">
                        <textarea name="body" rows="15" cols="160"></textarea>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Create Comment" />
        }
    </div>
   
</div>
<h3> @Html.ActionLink("Back to Ticket", "Details", "Tickets", new { id = Model.ticket.Id }, null)</h3>


